.ILCpadre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.ILCH2P{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 11%;
}
.ILCFilterSlider{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ILCFilter{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.ILCItemsConteiner{
    height: 94%;
    width: 100%;
    border: #3f3f3f7e 1px solid;
}
.ILCFilter p{
    padding-right: 15px;
    font-weight:600;
    font-size: 1rem;
    color: #3f3f3f
}
.ILCSlider{
    height: 90%;
    width: 100%;
    border: 1px solid grey;
}