.ILCpadre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ILCH2P{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}
.ILCFilterSlider{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ILCFilter{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.ILCFilter p{
    padding-right: 15px;
    font-weight:600;
    font-size: 1rem;
    color: #3f3f3f
}
.ILCSlider{
    width: 100%;
    border: 1px solid grey;
}
.ILCItemsConteiner{
    width: 100%;
    border: #3f3f3f7e 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.ILCItems{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            250px,
            1fr
        )
    );
    gap: 10px;
    padding: 10px;
}